#theme-domain-mapping .enable { color: #0A0; }
#theme-domain-mapping .disable { color: #A00; }

#theme-domain-mapping dt { font-size: 1.2em; font-weight: bold; margin-bottom: 1em; }

#theme-domain-mapping ul {
	max-width: 600px;
}

#theme-domain-mapping li {
	border-bottom: 1px solid #AAA;
	padding: 1em;
}
#theme-domain-mapping li.heading {
	font-weight: bold;
	color: #999;
	border-bottom: 2px solid black;
}
#theme-domain-mapping li.footer {
	border-top: 2px solid black;
	position: relative;
	top: -1em;
	border-bottom: 0;
	background: white;
}

#theme-domain-mapping .index-settings {
	width: 50%;
	float: right;
}
#theme-domain-mapping .index-opts {
	display: none;
	float: right;
}

#theme-domain-mapping label,
#theme-domain-mapping input,
#theme-domain-mapping li.heading span {
	width: 49%;
	float: left;
	display: block;
}

#theme-domain-mapping .index-settings label,
#theme-domain-mapping .index-settings input {
	width: auto;
	display: inline;
	float: none;
}

#theme-domain-mapping li.footer input {
	width: auto;
}

/* clearfixes - nicolasgallagher.com/micro-clearfix-hack/ */
#theme-domain-mapping li:before, #theme-domain-mapping li:after,
#theme-domain-mapping .index-settings:before, #theme-domain-mapping .index-settings:after {
	content: ""; display: table;
}
#theme-domain-mapping li:after,
#theme-domain-mapping .index-settings:after {
	clear: both;
}
#theme-domain-mapping li,
#theme-domain-mapping .index-settings {
	zoom: 1;
}
